.inputs {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.inputs input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 30px;
  margin: 10px;
}
